[submodule "www/redis.vvv"]
	path = www/redis.vvv
	url = https://github.com/goblindegook/VVV-Redis
[submodule "www/elasticsearch"]
	path = www/elasticsearch
	url = git@github.com:rooftopcms/vvv-elasticsearch.git
